$default-font: "Montserrat", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;
$desktop-medium-width: 1920px;
$desktop-large-width: 2560px;

$background: #ffffff;
$error: #E62B2B;
$success: #349E23;

$base-white: #ffffff;
$base-black: #181a2b;
$base-grey: #828282;

$secondary-grey: #d3d3d6;
$tundora: #474747;
$mine-shaft: #262626;
$code-gray: #1c1c1c;
$grey: #888888;
$black: #000;
$tamarillo: #931111;
$forest-green: #2da739;
$dove-gray: #646464;